.scrollBar{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-left:-0px;
}
.scrollBarItems{

    width: 250px;
    background-color: #ef9273;
    text-align: center;
    list-style-type: none;
    opacity: .95;
    
    line-height: 15px;
    padding: 10px;
}
.scrollBarItem{
    color: #fefae0;
    font-size: 1.5rem;
}
.HeaderBar{
    z-index: 3;
    position: absolute;
    top:0px;
    width: 100%;
    height: 100px;
    background-color: #ef9273;
    padding: 0;
    margin-top: -10px;
    
}
.HeaderTitle{
    margin-left:20px;
    color:#fefae0;
    font-size: 5rem;
    text-decoration-line: underline;
    text-decoration-style: double;
    cursor: pointer;
}

.HeaderTitlesmall{
    color:#fefae0;
    font-size: 2rem;
    cursor: pointer;
}
.HeaderTitlesmall:hover{
    text-decoration-line: underline;
}
.home{
    position: absolute;
    right: 15px;
    top:30px;
    width: 55px;
    height: 50px;
}
.home:hover{
    filter:invert(27%) sepia(84%) saturate(99%) hue-rotate(21deg) brightness(78%) contrast(54%);
} 
.contacts:hover{
    filter:invert(27%) sepia(84%) saturate(99%) hue-rotate(21deg) brightness(78%) contrast(54%);
}
.contacts{
    position: absolute;
    right: 85px;
    top:25px;
    width: 55px;
    height: 55px;
}
.listMenu{
    list-style-type: none;
    color: #fefae0;
    top:75px;
    margin-left: -60px;
    visibility: hidden;
    font-size: 1.25rem;
}
.listMenuItem{
    color: #fefae0;
}
@media screen and (max-width: 575px){
    .HeaderTitlesmall{
        position: absolute;
        visibility: hidden;
    }
    .HeaderBar{
        display: flex;
        justify-content: center;
    }
    .HeaderTitle{
        margin-left: 15px;
    }
    .listMenu{
        position: absolute;
        top:105px;
        
        margin-left:-38px;
    }

}
@media screen and (max-width:720px){
    .home{
        visibility: hidden;
    }
    .contacts{
        visibility: hidden;
    }
    .HeaderBar{
        height: 160px;
    }

    .listMenu{
        text-align: center; 
        visibility: visible;
        margin-top:-4px;
    }
}

.footerContainer{
    width: 100%;
    
    color: #fefae0;
    text-decoration: none;
}
.footer{
    background-color: #ef9273;
    padding:20px;
    padding-left: 50px;
    padding-bottom: 70px;
    font-size: 1rem;
}
.footerLinks{

    text-decoration: none;
    color: #fefae0;
}
.ftrL{
    text-decoration: none;
     color: #fefae0;
}
.ftrL:hover{
    text-decoration-line: underline;
}